body {
  font-family: Roboto, Helvetica, sans-serif;
}

h1 {
  font-size: 16px;
  color: #444444;
}

.container {
  text-align: center;
  margin: 5px;
  font-size: 13px;
}

.offer {
  display: inline-block;
  align-items: center;
  width: 400px;
  margin: 4px;
  text-align: center;
  border: 1px solid;
  color: #cccccc;
}

.offer-title {
  font-size: 14px bold;
  color: #ffffff;
  background-color: #00b3b3;
  padding: 15px;
}

.offer-contents {
  background-color: #fafafa;
  padding: 20px;
}

table {
  width: 100%;
  background-color: #ffffff;
}

th {
  font-size: 12px bold;
  color: #777777;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

td {
  color: #444444;
  font-weight: lighter;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.final-value {
  color: #2222ff;
  font-weight: bold;
}
